/* Header  */
.header {
    padding-left: 0px;
    padding-right: 0px;
}

.adress {
    position: relative;
    bottom: 8px;
    left: 0px;
}

.telefon {
    position: relative;
    left: 0px;
    bottom: 8px;
}

.menu {
    padding-left: 0px;
    padding-right: 0px;
}

/* search  */

/* ---- header ---- */
/* carousel */

.carousel-caption {
    padding-bottom: 0px;
}

.slider_tartalmak {
    float: left;
    position: relative;
}

.slider_tartalmak i {
    position: relative;
    right: 20px;
    font-size: 25px;
}

.rendezvenyek_desing {
    padding: 5px 20px;
}

/* carousel-indicators */
.carousel-indicators {
    display: none;
}