body {
  max-width: 3000px;
  margin: auto;
}
.header {
  width: 100%;
  padding-top: 10px;
  height: 58px;
  border-bottom: 1px solid #ebebeb;
  font-size: 12px;
}
.adress {
  position: relative;
}
.telefon {
  position: relative;
  left: 100px;
}
.login_reg_box {
  position: relative;
  bottom: 50px;
}
.login_reg_box li a {
  border: 1px solid #ebebeb;
  border-right: 0;
  text-decoration: none;
  padding: 16px;
}
.fa {
  font-size: 20px;
  width: 50px;
  text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #f7474a;
  color: white;
}

.fa-twitter {
  background: #f7474a;
  color: white;
}
.fa-instagram {
  background: #f7474a;
  color: white;
}
.reg {
  border-right: 1px solid #ebebeb;
}
.icons {
  position: relative;
  right: 5px;
  top: 0.05em;
}
.icons a:hover {
  color: white;
}
.menu li {
  padding: 10px 10px;
  font-size: 17px;
}
.menu a {
    color: #959595;
}
.navbar-brand {
  bottom: 30px;
}
.navbar-brand img {
  width: 220px;
  height: 100px;
}
