body {
  max-width: 3000px;
  margin: auto;
}
/* header  */
.header {
  width: 100%;
  padding-top: 10px;
  height: 48px;
  border-bottom: 1px solid #ebebeb;
  font-size: 14px;
  position: relative;
  top: 0.3em;
}
.adress {
  position: relative;
  bottom: 8px;
  left: 0px;
}
.telefon {
  position: relative;
  left: 200px;
  bottom: 8px;
}
.login_reg_box {
  position: relative;
  bottom: 50px;
}
.login_reg_box li a {
  border: 1px solid #ebebeb;
  border-right: 0;
  text-decoration: none;
}
.fa {
  padding: 10px;
  border-bottom: 3px solid #f89399;
}
.fa:hover {
  opacity: 0.8;
}
.login a {
  padding: 15px;
}
.reg a {
  padding: 15px;
}
.fa-facebook {
  background: #f7474a;
  color: white;
  padding-left: 12px;
  padding-right: 12px;
}
.fa-twitter {
  background: #f7474a;
  color: white;
}
.fa-instagram {
  background: #f7474a;
  color: white;
  padding-left: 11px;
  padding-right: 11px;
}
.reg {
  border-right: 1px solid #ebebeb;
}
.icons {
  position: relative;
  right: 5px;
  top: 0.55em;
}
.icons a:hover {
  color: white;
}
.menu li {
  padding: 10px 1px;
  font-size: 19px;
}
.menu a {
    color: #959595;
}
.navbar-brand {
  position: relative;
  bottom: 35px;
}
.navbar-brand img {
  width: 220px;
  height: 100px;
}
/* ---- header ---- */
