/* Header  */
.header {
    padding-left: 150px;
    padding-right: 150px;
}

.adress {
    position: relative;
    bottom: 8px;
    left: 0px;
}

.telefon {
    position: relative;
    left: 200px;
    bottom: 8px;
}

.menu {
    padding-left: 150px;
    padding-right: 150px;
}

/* ---- header ---- */